@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
}

body {
  padding-top: 64px;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 178, 49%, 37%; /* #308c89 */
    --primary-foreground: 0 0% 96.9%;
    --primary-lite: 178, 26%, 93%, 1;
    --primary-dark: 179, 49%, 33%; /* hover */
    --secondary: 0 0% 96.9%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 220, 9%, 46%;  /*215, 14%, 34%; було 0 0% 45.1%*/
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --shadow-color: 0 0% 0%;
    --shadow-opacity: 0.3;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 178 49% 37%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    @apply text-center font-bold;
  }
  h1,
  .h1 {
    @apply text-3xl lg:text-4xl mt-6 mb-6;
  }
  h2,
  .h2 {
    @apply text-2xl lg:text-3xl mt-4 mb-4;
  }
  h3,
  .h3 {
    @apply mt-4 mb-2;
  }
  p {
    @apply mb-1.5;
  }
  ul {
    @apply list-disc pl-4;
    li {
      @apply mb-1.5;
    }
  }
  ol {
    @apply list-decimal pl-4;
    li {
      @apply mb-1.5;
    }
  }

  html {
    /*for single-page*/
    scroll-padding-top: 4rem;
  }
}
